@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

nav {
    padding: 24px;
    border-bottom: 1px solid #CECECE;
    text-align: center;
    font-size: 14px;
    margin-bottom: 60px;
}

nav > a {
    text-decoration: none;
    color: #0F0061;
    font-family: "Outfit", sans-serif;
    margin-right: 20px;
    font-weight: 600;
}

#login-btn {
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: white;
    border-radius: 100px;
    border: 1px solid #0F0061;
}

#signup-btn {
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 100px;
    color: white;
    background-color: #0F0061;
    border: 1px solid #0F0061;
}

#user-icon {
    width: 38px;
    height: 38px;
    border-radius: 100%;
}

.hotel-card-image {
    border-top-right-radius: 13px;
    border-top-left-radius: 13px;
    margin-bottom: 18px;
}

.hotel-tag {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: #3F0606;
    border-radius: 100px;
}

.hotel-tag > span {
    color: white;
    font-size: 12px;
    margin-right: 4px;
    font-family: "Outfit", sans-serif;
}